src/main/resources/wsdl/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OrderManagementLib/com/touresbalon/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Customer">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="firstName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="emailAddress" type="xsd:string"/>
      <xsd:element minOccurs="0" name="type" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>