src/main/resources/wsdl/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OrderService" targetNamespace="http://service.model.orders.oms.touresbalon.com/" xmlns:ns1="http://service.model.orders.oms.touresbalon.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema xmlns:tns="http://service.model.orders.oms.touresbalon.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://service.model.orders.oms.touresbalon.com/" version="1.0">

  <xs:element name="createOrder" type="tns:createOrder"/>

  <xs:element name="createOrderResponse" type="tns:createOrderResponse"/>

  <xs:element name="updateStateOrder" type="tns:updateStateOrder"/>

  <xs:element name="updateStateOrderResponse" type="tns:updateStateOrderResponse"/>

  <xs:complexType name="createOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:orderDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="orderDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="comments" type="xs:string"/>
      <xs:element minOccurs="0" name="custId" type="xs:string"/>
      <xs:element minOccurs="0" name="endOrderDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:itemDto"/>
      <xs:element minOccurs="0" name="ordId" type="xs:string"/>
      <xs:element minOccurs="0" name="orderDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="price" type="xs:decimal"/>
      <xs:element minOccurs="0" name="showType" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="itemDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="custId" type="xs:string"/>
      <xs:element minOccurs="0" name="itemDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="itemId" type="xs:string"/>
      <xs:element minOccurs="0" name="partNum" type="xs:string"/>
      <xs:element minOccurs="0" name="price" type="xs:decimal"/>
      <xs:element name="prodId" type="xs:int"/>
      <xs:element minOccurs="0" name="productName" type="xs:string"/>
      <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
      <xs:element minOccurs="0" name="showType" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createOrderResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:orderDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateStateOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="order" type="tns:orderDto"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateStateOrderResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createOrder">
    <wsdl:part name="parameters" element="ns1:createOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStateOrder">
    <wsdl:part name="parameters" element="ns1:updateStateOrder">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateStateOrderResponse">
    <wsdl:part name="parameters" element="ns1:updateStateOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createOrderResponse">
    <wsdl:part name="parameters" element="ns1:createOrderResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderService">
    <wsdl:operation name="createOrder">
      <wsdl:input name="createOrder" message="ns1:createOrder">
    </wsdl:input>
      <wsdl:output name="createOrderResponse" message="ns1:createOrderResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStateOrder">
      <wsdl:input name="updateStateOrder" message="ns1:updateStateOrder">
    </wsdl:input>
      <wsdl:output name="updateStateOrderResponse" message="ns1:updateStateOrderResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
