src/main/resources/wsdl/Ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://OrderManagementLib/com/touresbalon/bo" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Ticket">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="code" type="xsd:string"/>
      <xsd:element minOccurs="0" name="vendorAmount" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>